:root {
  color-scheme: light dark;
  --primary-color: #38f;
  --secondary-color: #fa3;
  --background-color: light-dark(#e1e7f0, #050e1a);
  --text-color: light-dark(#050e1a, #e1e7f0);
  --button-text-color: #e1e7f0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  /* Layout */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}

.game-container {
  text-align: center;
  /* Layout */
  grid-column: 2;
  grid-row: 2;
  .point-view {
    font-size: 2rem;
  }
}

.status {
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.cost {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin-bottom: 30px;
  font-weight: bold;
  span {
    color: #f38;
  }
}

.buttons {
  /* Layout */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  button {
    width: 200px;
    height: 50px;
    border-radius: calc(1px * infinity);
    border: none;
    background-color: var(--primary-color);
    color: var(--button-text-color);
    box-shadow: 0 0 20px #38f8;
    opacity: 1;
    font-size: 1.2rem;
    cursor: pointer;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    &:active {
      scale: 0.9;
    }
  }
  .invalid {
    opacity: 0.5;
    cursor: not-allowed;
    &:active {
      scale: 1;
    }
  }
}
